<!-- 尾部 -->
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="xy-footer" th:fragment="common_footer">
    <div class="lsud">
               <div class="uhaesa">
            <div style="width:300px;margin:0 auto; padding:5px 0 0;">
                <a target="_blank" href="http://www.beianbeian.com/beianxinxi/6f231fecb519f27d7298d2fe2e51e121.html"
                   style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                        th:src="@{/images/ele_bfby.png}" style="float:left;"/>
                    <p style="float:left;height:20px;line-height:20px;margin-left:5px;color:#939393;">
                        浙ICP备19015854号-1</p>
                </a>
            </div>
        </div>

    </div>
</div>
<script>

</script>
