<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="common/header::common_header('我的日记本')"></div>

    <script>
        $.ajax({
            url: "[[@{/diary/getDiary}]]",
            method: "post",
            headers: {"token": localStorage.getItem("token")},
            success: function (rest) {
                const data = rest.data;
                var html="<table border='1' align='center' cellpadding='10' cellspacing='100'>";
                for (var i =0;i<data.length;i++){
                    html+="<tr align='center'> <td align='center'>"+data[i].content+"</td>"+"<td align='center'>"+data[i].place+"</td>";
                    html+="</tr>"
                }
                html+="</table>";

                $("#div").html(html)
            }
        })
    </script>
</head>
<body>

<div id="div"></div>

<a th:href="@{/sysUser/editDiary}">写日记</a>
<div th:replace="common/footer::common_footer"/>

</body>
</html>